
header li .links,.nav-link
{
    font-size: 17px;
    color: black;
    position: relative;
}
header li .links:hover
{
    color: orangered;
}
header li .links:hover::after
{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: orangered;
    left: 0px;
    bottom: -8px;
}
.logo__home
{
    transform: translateX(-100%);
    transition: all 0.18s ease-in-out;
}
svg:hover .logo__home
{
    transform: translateX(0);
    transition: all 0.18s ease-in-out;
}
.carousel-item picture
{
    position: relative;
}
.carousel-item h1
{
    position: absolute;
    left: -80px;
    top: -300px;
    font-size: 50px;
    font-weight: 600;
}
.carousel-item p
{
    position: absolute;
    left: -80px; 
    top: -230px;
    font-size: 26px;
    font-weight: 500;
}
.carousel-item span
{
    position: absolute;
    left: -80px; 
    top: -200px;
    font-size: 26px;
    font-weight: 500;
}
